langchain-community
langchain-openai
langchain
langchain-core
langchain-experimental
langchainhub
python-dotenv
pypdf
langchain-ai21
firebase-admin

langgraph
langchain-milvus
langchain-groq
langsmith
fastapi
uvicorn

pymilvus
pymongo