langchain-community==0.3.5
langchain-openai==0.2.6
langchain==0.3.7
langchain-core==0.3.15
langchain-experimental==0.3.3
langchainhub==0.1.21
python-dotenv==1.0.1
pypdf==4.3.0
firebase-admin==6.6.0

langgraph==0.2.45
langchain-milvus==0.1.6
langchain-groq==0.2.1
langsmith==0.1.142
fastapi==0.115.4
uvicorn==0.32.0
